<div class="container mt-5">
  <h1>Welcome to Myapp </h1>
  <%= link_to "Sign Up", new_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log In", login_path, class: "btn btn-secondary" %>
</div>

